.sidebar {
  flex: 1 0 200px;
  background-color: #302e2b;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar input {
  width: 100%;
}

.sidebar a {
  color: #ebebeb;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 5px 20px;
}

.sidebar img {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #cfcfcf;
}
